<a href="https://colab.research.google.com/github/PKRaj007/PKRaj007/blob/main/DC_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**K-means clustering work on categorical datasets**

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sb
from sklearn.metrics import accuracy_score

In [ ]:
pip install kmodes

Collecting kmodes
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.1

In [ ]:
from kmodes.kmodes import KModes

In [ ]:
Attribute1=[1,2,3,1,1,2,3,1]
Attribute2=['A','B','B','A','C','C','C','C']
data1=list(zip(Attribute1,Attribute2))
df=pd.DataFrame(data=data1,columns=['A1','A2'])
df

   A1 A2
0   1  A
1   2  B
2   3  B
3   1  A
4   1  C
5   2  C
6   3  C
7   1  C

In [ ]:
X=np.array(df[['A1','A2']])
X

array([[1, 'A'],
       [2, 'B'],
       [3, 'B'],
       [1, 'A'],
       [1, 'C'],
       [2, 'C'],
       [3, 'C'],
       [1, 'C']], dtype=object)

In [ ]:
k_modes_test=KModes(n_clusters=3,verbose=1,n_init=2)
clusters=k_modes_test.fit_predict(X)
print(k_modes_test)
print(clusters)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 3.0
KModes(cat_dissim=<function matching_dissim at 0x7fc2653daa70>, init='Cao',
       max_iter=100, n_clusters=3, n_init=1, n_jobs=1, random_state=None,
       verbose=1)
[2 1 1 2 0 0 0 0]

In [ ]:
print(k_modes_test.cluster_centroids_)

[['1' 'C']
 ['2' 'B']
 ['1' 'A']]